.table-container {
  min-width: 900px;
  max-width: 900px;
  margin-bottom: 20px;
}

#databaseTable {
  border-collapse: collapse;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 5px #475569;
}

#databaseTable thead {
  background-color: #475569;
  color: #ffffff;
}

#databaseTable tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

#databaseTable tbody td img {
  vertical-align: middle;
}

#type-icons img {
  width: 100%;
}

.pokemon-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

#mega-icon img {
  width: 20%;
  display: block;
  margin: auto;
}

#shadow-icon img {
  width: 22%;
  display: block;
  margin: auto;
}
