body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(222, 222, 222, 1);
  color: #475569;
  padding: 20px 20px 20px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

#navbar {
  position: sticky;
  z-index: 1000;
  top: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(13px);
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-size: 25px;
  font-weight: bold;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  gap: 60px;
  margin-right: 60px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(36, 99, 235);
}

#navbar .nav-link {
  font-size: 20px;
  font-weight: bold;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #475569;
}

.menu-dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.14);
  padding: 10px;
}

.menu-dropdown .nav-link {
  padding: 10px;
  display: block;
  color: #475569;
  text-decoration: none;
}

.menu-dropdown .nav-link:hover {
  background-color: #eee;
}

.feature {
  padding: 20px;
}

#footer {
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer .nav-links {
  text-decoration: underline;
}

@media (max-width: 920px) {
  #navbar .nav-links {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
